$primary-color: rebeccapurple;
$contrast-color: black;

div {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  nav {
    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
    }
    li {
      padding-right: 2rem;
    }
    a {
      color: $contrast-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
